.about {
    padding-inline: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    row-gap: 8px;
    background-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4))
}

.founders {
    padding-inline: 24px;
    padding-top: 20px;
    padding-bottom: 25px;
    row-gap: 8px;
}

.story {
    padding-inline: 24px;
    padding-top: 10px;
    row-gap: 25px;
}
