.about {
    padding-inline: 24px;
    margin-top: 10px;
    row-gap: 8px;
}

.founders {
    padding-inline: 24px;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 35px;
    row-gap: 8px;
    background-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4))
}

.story {
    padding-inline: 24px;
    padding-top: 10px;
    row-gap: 25px;
}