.card {
    background-color: var(--mantine-color-body);
    /* background-color: var(--mantine-color-blue-light); */
  }
  
  .label {
    padding-top: 2px;
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
    font-weight: 700;
    line-height: 1;
    margin-bottom: 20px;
    @media (max-width: 36em) {
    align-self: center;
  }
  }
  
  .inner {
    row-gap: 0;
    justify-content:center;
    flex-direction: column;
    align-self: center;
    width:444px;
    @media (max-width: 36em) {
      max-width:270px;
    }

    .stats {
      column-gap: 25px;
      justify-content: start;
      align-items: center;
      margin-bottom: 30px;
    }

    .conductivityBadge {
      border-radius: 8px;
      height: 50px;
      font-size: clamp(10px, 14px, 14px);
      flex-grow: 1;
    }
    
  }

  .tooltipGroup{
    gap:5px;
    justify-self: center;
    align-items:center;
  }
  
  .tooltip{
    align-self: start;
    margin-top: 0;
  }
