.stack {
  align-items:center;
  padding-top: 70px;
  background-color: var(--mantine-color-blue-light);
}

.hydrationTitle{
  align-self: center;
}

.box {
  flex-direction: column;
  align-items: center;
  padding-top: 59px;
}

.hydrationScoreBadge {
  height: 170px;
  width:170px;
  font-size: clamp(12px, 42px, 42px);
}


.weeklyHistTitle{
  align-self: center;
}