.stack {
  align-items:center;
  padding-top: 70px;
  background-color: var(--mantine-color-blue-light);
}

.hydrationTitle{
  align-self: center;
}

.box {
  flex-direction: column;
  align-items: center;
  padding-top: 59px;
}

.hydrationScoreBadge {
  margin-top: 20px;
  height: 170px;
  width:170px;
  font-size: clamp(12px, 42px, 42px);
}


.weeklyHistTitle{
  margin-top: 2%;
  align-self: center;
  transform: translateX(-245px);
  font-size: large;
  @media (max-width: 640px) {
    transform: translateX(-100px);
    font-size: large;
    margin-top: 4%;
  }
}