.stack {
  align-items:center;
  padding-top: 70px;
  background-color: var(--mantine-color-blue-light);
}

.hydrationTitle{
  align-self: center;
}

.box {
  flex-direction: column;
  align-items: center;
  padding-top: 59px;
}

